doctype html
html
  include ./partials/head.jade
  body
    .contact-page(style='text-align: center; padding: 10% 20%; font-size: 2em;')
      h3(style='font-size: 1.2em') Total Health & Beauty
      p(style='font-weight: 200') PO Box 910136 
      p(style='font-weight: 200') St. George, UT 84791
      p(style='font-weight: 200') 1-844-300-0666
      p(style='font-weight: 200')
        em support@total-healthandbeauty.com

    include ./partials/footer.jade
