doctype html
html
  include ./partials/head.jade
  body
    header
      .top_bar
        h1 Greatest Serum
        h3 Revolutionizing Skin Care
      .header_img.row
        img.col-sm-7.col-sm-offset-1(src="images/eyeSerumHeader.png", alt="")
        include ./partials/order-form.jade
    .middle-divider-thin
    .middle-divider
    .middle-divider-thin
    div(style='clear:both')
    .main
      
      .info_section.col-lg-8.col-lg-offset-2.col-sm-10.col-sm-offset-1
        .info-img.col-lg-4
          img(src='images/coverUpIcon.png')
          h3 Do you try to hide under eye circles?
        .info-img.col-lg-4
          img(src='images/serumEyeIcon.png')
          h3 Have you tried a plethora of products to no avail?
        .info-img.col-lg-4
          img(src='images/nourishIcon.png')
          h3 Are you looking for a serum that hydrates and nourishes?
      div(style='clear:both')
      .middle-divider-thin
      .middle-divider
      .middle-divider-thin
      blockquote
        p "For me, taking care of your skin is the most important step. You can cover it with all the makeup in the world and it'll neve be as nice as natural skin."
        footer Astrid Berges-Frisbey of
          cite(title="Source Title") Lifehacks
      div(style='clear:both')
      .middle-divider-thin
      .middle-divider
      .middle-divider-thin
      div(style='clear:both')
      .row.cream-lady
        .image-container.col-lg-5.col-lg-offset-1.col-sm-6.col-sm-offset-0
          img(src="images/serumLady.png")
        .main-text.col-lg-5.col-sm-6
          h1 Greatest Serum:
          p
            ul.list-group
              li.list-group-item ULTRA HYDRATING FORMULA
              li.list-group-item MAY REDUCE THE APPEARANCE OF WRINKLES
              li.list-group-item MILD ENOUGH FOR BI-DAILY USE
              li.list-group-item DOESN'T LEAVE YOUR FACE GREASY
      div(style='clear:both')
      .middle-divider-thin
      .middle-divider
      .middle-divider-thin
      .directions.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-sm-12.col-xs-offset-0
        img(src='images/howtoEyeCream.png')
        a(href='#buyNow')
          aside.ribbon Order Now
      //- .middle-divider
    include ./partials/footer.jade
