doctype html
html
  include ./partials/head.jade
  body
    .ingredients-page(style='text-align: center; padding: 10% 20%; font-size: 2em;')
      h3(style='font-size: 1.2em') Ingredients:
      p(style='font-weight: 200') Vitamin C Cream with IP-6: Water, Cetearyl Alcohol, Caprylic/Capric Triglycerides, Glycerin, Ceteareth-20, Butyrospermum Parkii (Shea) Butter, Dimethicone, Deanol, Palmitoyl Oligopeptide, Palmitoyl Tripeptide-7, Porphyridium Cruentum Extract, Hydrolyzed Marine Collagen, Silanetriol, Polysorbate 20, Glutamylamidoethyl Imidazole, Magnesium Ascorbyl Phosphate, Ascorbic Acid (Vitamin C), Retinol Palmitate (Vitamin A Palmitate), Xanthan Gum, Resveratrol, Inositol Hexaphosphate, Inositol, Phytic Acid, Fragrance, Phenoxyethanol, Caprylyl Glycol, Potassium Sorbate, Hexylene Glycol

    include ./partials/footer.jade
