doctype html
html
  include ./partials/head.jade
  body
    .thankyou-page(style='text-align: center; padding: 100px 0; font-size: 4em;')
      h1 Thank you for your purchase!
    include ./partials/footer.jade
