div(style='clear:both')
footer.footer
  
  .copyright.row
    .navbar.footer-nav
      //- .middle-divider
      ul.nav.text-center.col-lg-8.col-lg-offset-2
        li.col-sm-3
          a(href='#/privacy') Privacy Policy
        li.col-sm-3
          a(href='#/terms') Terms & Conditions
        li.col-sm-3
          a(href='#/ingredients') Ingredients
        li.col-sm-3
          a(ng-click='modalShown=!modalShown') Contact
      //- .middle_divider
      p.col-xs-12.copy-text
        | &copy 2016 
        span.dba WholesomeSerum.com 
        | - All Rights Reserved
  .disclaimer
    | DISCLAIMER:
    | These statements have not been evaluated by the FDA and are not intended
    | to diagnose, treat, cure, or prevent any disease. Please consult your physician before beginning any
    | program. If there is a change in your medical condition, please notify your physician immediately. All
    | trademarks, logos, & service marks (collectively the "Trademarks") displayed are registered &/or
    | unregistered Trademarks of their respective owners. Contents of this website are copyrighted property of
    | FMG Capital, Inc., the owner of this website. Testimonials are actual quotes by real people who have used
    | our products; photos of product users are
    | either paid models who actually used our products, or stock photos. The photographs on our site are
    | simulated imagery to illustrate the kinds of results that may be achieved with our products. The results
    | described in the customer testimonials and depicted in the simulated imagery are not typical. Everyone's
    | skin is different and your results may vary. Read the Terms & Conditions for offer details. Offer available
    | while supplies last. Limit one trial bottle per household.
