head
  title.dba Wholesome Serum
  script(src='https://code.jquery.com/jquery-2.2.1.min.js')
  script(src='js/script.js')
  //- script(src='variables.js')
  link(rel='stylesheet',href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
  link(href='https://fonts.googleapis.com/css?family=Courgette|Lobster+Two:400,400italic,700|Kaushan+Script|Satisfy|Lobster',rel='stylesheet',type='text/css')
  link(rel='stylesheet',href='css/styles.css')
