form#buyNow.col-sm-4.col-sm-pull-1(action='cart.html',method='post')
  legend Free Trial - Order Now
  .form-group
    label(for='firstName') First Name
    input#firstName.form-control(type='text', placeholder='First Name', required='')
  .form-group
    label(for='lastName') Last Name
    input#lastName.form-control(type='text', placeholder='Last Name', required='')
  .form-group
    label(for='address') Address
    input#address.form-control(type='text', placeholder='Street Address', required='')
  .form-group
    label(for='city') City
    input#city.form-control(type='text', placeholder='City', required='')
  .form-group
    label(for='state') State
    input#state.form-control(type='text', placeholder='State', required='')
  .form-group
    label(for='zipCode') Zip
    input#zipCode.form-control(type='number', placeholder='Zip Code', required='')
  .form-group
    label(for='phoneNumber') Phone Number
    input#phoneNumber.form-control(type='number', placeholder='phone', required='')
  .checkbox
    input(type='checkbox', required='')
    label
    | By submitting, you agree to having read and agreed to our Terms and Conditions and that you are 18 
    | years old. You agree that you will be charged $3.95 for initial 14 day evaluation period 
    | (10 day evaluation + 4 days transit) for Greatest Serum and charged every month $89.79 until canceled. 
    | You can cancel anytime by calling 1-844-300-0666.
  button.btn.order-btn.btn-pink(type='submit') Order Now
